<html>
<body>

	<div id="container">
		<a id="top"></a>
		<p class="hide"></p>

		<div id="sitename">
			<h2>Clinic Management System</h2>
			
		</div>

		<div id="nav">
			<p class="hide">
				<a href="#top">My Account</a>
			</p>
		</div>

		<div id="wrap1">
			<div id="wrap2">
				<div id="leftside">
					<a id="sectionmenu"></a>
				</div>
				<div id="rightside"></div>
				<a id="main"></a>
				<div id="content"
					style="margin-left: 5px; height: 150px; width: 300px;">
					<fieldset style="width: 400px; margin-left: 50px;">
						<legend>Confirmation Mail ($map.timeCurrent)</legend>
						<p>This is a confirmation mail for the appointment with Dr.
							$map.name at $map.time on $map.date</p>
							
							<span> Thank You for using CMS </span>
					</fieldset>
				</div>
			</div>
			
			<div id="footer">
				&copy; 2014 Ipsit Patra<br />
			</div>
		</div>
	</div>
</body>

</html>